.ropeproject
**temp
*.log*
.DS_Store
__pycache__/
venv/
*-orig.*
tests/
**/ffplayout/static/
._*
._**
*.sqlite3
**/migrations/*
!**/migrations/__init__.py
**/ffplayout/apps/*
!**/ffplayout/apps/api_player/
!**/ffplayout/apps/api_player/tests/
!**/ffplayout/apps/api_srs/tests/
!**/ffplayout/apps/api_srs/
!**/ffplayout/apps/__init__.py
